body {
  height: 0;
  padding: 0;
}

body:before {
  content: attr(data-content);
  position: fixed;
  top: 2vh;
  left: 2vw;
  opacity: 0.5;
  font-size: small;
  font-style: italic;
}

body:before:empty {
  padding: 0;
}

#current_slide {
  padding: 10px;
}

button,
input {
  /* box-shadow: 0 0 5px black; */
  animation: hey-notice-this 0.25s ease 0.1s forwards 1;
}

button {
  text-decoration: none;
  transition: 0.2s;
  color: white;
  width: 3rem;
  font-weight: bold;
}

button:hover,
button:focus,
input:hover,
input:focus {
  background: green;
  color: white;
  box-shadow: 5px 5px 10px 1px black;
}

button:active,
input:active {
  background: lime;
  color: black;
  box-shadow: 5px 5px 15px 2px black;
}

button[disabled="true"] {
  background: inherit;
  color: #33333388;
  box-shadow: none;
}

input {
  width: 3rem;
  background: #333;
  color: white;
  box-shadow: 2px 2px 5px black;
  font-weight: bold;
  border: none;
  text-align: center;
  padding-left: 20px;
}

button#add_big_text {
  position: relative;
}

button#add_big_text:after {
  content: "abc";
  position: absolute;
  font-size: 1.5rem;
  align-items: center;
  left: 0.25rem;
  top: 0;
}

input#select_image,
input#select_json_file {
  display: none;
}

.material-icons {
  font-size: 2em;
  margin: -1em;
  vertical-align: middle;
  position: relative;
  top: -0.05rem;
}

#controls {
  text-align: center;
  padding: 0.5rem;
  width: 565px;
  margin: auto;
  position: fixed;
  bottom: 1rem;
  left: calc(50% - 550px / 2 - 0.5rem / 2);
  z-index: 1;
  box-shadow: 0 1px 5px black;
  animation: jump-a-little 0.5s ease forwards;
}

@keyframes jump-a-little {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: 3rem;
  }
  100% {
    bottom: 1rem;
  }
}

@keyframes hey-notice-this {
  50% {
    background: lime;
    color: black;
    box-shadow: 5px 5px 15px 2px black;
  }
}

img {
  cursor: move;
}

p {
  color: white;
  mix-blend-mode: difference;
  cursor: move;
  background: transparent;
}

p[contenteditable="true"] {
  background: green;
}

p[contenteditable="true"]:before {
  content: "You can click the highlighted text to edit:";
  font-size: 1rem;
  background: black;
  color: white;
  border-radius: 3px;
  padding: 3px;
  position: absolute;
  top: -1.9rem;
  left: 0;
  white-space: nowrap;
  cursor: auto;
  pointer-events: none;
}

.hide-on-first-load {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

span {
  position: absolute;
}

span:before {
  position: relative;
  text-align: center;
  z-index: -1;
  color: white;
  background: black;
  padding: 0;
  border-radius: 3px;
  -webkit-transition: top 0.25s;
  transition: top 0.25s;
  top: 0;
  content: "";
}

:not(:disabled):hover + span:before,
:not(:disabled):focus + span:before {
  top: -2rem;
  padding: 3px;
}

button#left:not(:disabled):hover + span:before,
button#left:not(:disabled):focus + span:before {
  content: attr(data-before);
  left: var(--left);
}

button#right:not(:disabled):hover + span:before,
button#right:not(:disabled):focus + span:before {
  content: attr(data-before);
  left: var(--left);
}

input#slide_number:not(:disabled):hover + span:before,
input#slide_number:not(:disabled):focus + span:before {
  content: "Slide number";
  left: -5.75em;
}

button#add_text:not(:disabled):hover + span:before,
button#add_text:not(:disabled):focus + span:before {
  content: "Add text";
  left: -3.85em;
}

button#add_big_text:not(:disabled):hover + span:before,
button#add_big_text:not(:disabled):focus + span:before {
  content: "Add big text";
  left: -4.7em;
}

button#add_image:not(:disabled):hover + span:before,
button#add_image:not(:disabled):focus + span:before {
  content: "Add image";
  left: -4.45em;
}

button#fullscreen:not(:disabled):hover + span:before,
button#fullscreen:not(:disabled):focus + span:before {
  content: attr(data-before);
  left: var(--left);
}

button#share:not(:disabled):hover + span:before,
button#share:not(:disabled):focus + span:before {
  content: "Share link";
  left: -4.1em;
  white-space: nowrap;
}

button#save:not(:disabled):hover + span:before,
button#save:not(:disabled):focus + span:before {
  content: "Save slide data";
  left: -5.35em;
  white-space: nowrap;
}

button#upload:not(:disabled):hover + span:before,
button#upload:not(:disabled):focus + span:before {
  content: "Reuse slide data";
  left: -5.25em;
  white-space: nowrap;
}

button#delete:not(:disabled):hover + span:before,
button#delete:not(:disabled):focus + span:before {
  content: "Delete all slides";
  left: -5.1em;
  white-space: nowrap;
}

button#edit_text_icon span:before,
button#delete_image_icon span:before {
  opacity: 0;
  z-index: -1;
  font-weight: normal;
  font-size: medium;
}

button#edit_text_icon:not(:disabled):hover span:before,
button#edit_text_icon:not(:disabled):focus span:before {
  content: "Edit";
  left: -0.05em;
  opacity: 1;
  top: -2rem;
}

button#delete_image_icon:not(:disabled):hover span:before,
button#delete_image_icon:not(:disabled):focus span:before {
  content: "Delete";
  left: -0.6em;
  opacity: 1;
  top: -2rem;
}

#save,
#upload {
  background: blue;
}

#laser {
  position: absolute;
  background: red;
  width: 10px;
  height: 10px;
  left: -20px;
  top: -20px;
}

#aria_announcer {
  position: fixed;
  top: -5vh;
  left: -5vw;
}

@media only screen and (max-width: 600px) {
  #controls {
    display: flex;
    justify-content: center;
    width: 90vw;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    left: calc(50% - 90vw / 2 - 0.5rem / 2);
  }

  button,
  input {
    flex: 0 0 auto;
    position: relative;
  }

  span:before {
    z-index: 1;
    position: fixed !important;
    left: 1rem !important;
    top: -4rem;
    font-weight: normal;
    font-size: medium;
  }

  :not(:disabled):hover + span:before,
  :not(:disabled):focus + span:before {
    top: 1rem;
  }

  #laser {
    display: none;
  }

  #mobile_message:before {
    content: "Mobile isn't fully supported.";
    position: absolute;
    top: calc(30% - 1rem);
    left: calc(50% - 23ch / 2);
    width: 23ch;
    animation: fade 3s forwards;
  }

  @keyframes fade {
    to {
      opacity: 0;
    }
  }
}

.modal {
  background: #323232 !important;
}

.modal-share-link {
  cursor: text;
  user-select: text;
}

.modal-share-link:hover {
  background: black;
  color: lime;
}
