#current_slide {
  padding: 10px;
}

button {
  text-decoration: none;
  transition: 0.2s;
  color: white;
  width: 3rem;
  font-weight: bold;
}

button:hover,
button:focus {
  background: green;
  color: white;
}

button:active {
  background: lime;
  color: black;
}

button[disabled="true"] {
  background: inherit;
  color: #333;
  box-shadow: none;
}

input {
  width: 3rem;
  background: grey;
  box-shadow: 2px 2px 5px black;
  border: none;
  text-align: center;
  padding-left: 20px;
}
