#current_slide {
  padding: 10px;
}

button {
  text-decoration: none;
  transition: 0.2s;
  color: white;
  width: 3rem;
  font-weight: bold;
}

button:hover,
button:focus {
  background: green;
  color: white;
}

button:active {
  background: lime;
  color: black;
}

button[disabled="true"] {
  background: inherit;
  color: #333;
  box-shadow: none;
}
