body {
  padding: 2% 5%;
  font-family: avenir, arial, tahoma, monospace, sans-serif;

  background: rgb(32, 32, 32);
  color: whitesmoke;
}

* {
  /* background: rgb(32, 32, 32);
  color: whitesmoke; */
  font-family: avenir, arial, helvetica, sans-serif;
  border-radius: 0.5rem;
  /* transition: 0.25s; */
}

button {
  padding: 0.5rem;
  border: none;
  background: rgb(50, 50, 50);
  box-shadow: 2px 2px 5px black;
}

input,
textarea {
  padding: 0.5rem;
}

button:hover,
input:hover,
textarea:hover,
button:focus,
input:focus,
textarea:focus {
  background: lime;
  color: black;
}

a:hover,
a:focus {
  color: lime;
}

button:focus,
a:focus {
  /* text-decoration: underline; */
}

code {
  font-family: monospace;
}
